.gachaMachine {
    height: 80vh;
    top: 100px;
    position: relative;
    right: 300px;
}

.gachaMachine .background {
    background: url(/images/gachaBase.png) no-repeat;
    width: 553px;
    height: 767px;
    left: 47px;
    top: 74px;
    position: absolute;
    z-index: 3;
}

.gachaMachine .decor {
    width: 134px;
    height: 50px;
    position: absolute;
    left: 210px;
    bottom: 225px;
    background: url(/images/deco.png) no-repeat;
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    padding-top: 90px;
}



.gachaMachine .capsule {
    width: 500px;
    height: 447px;
    position: absolute;
    left: 68px;
    top: 80px;
    z-index: 1;
    -webkit-border-radius: 240px 240px 0px 0px;
    -moz-border-radius: 240px 240px 0px 0px;
    border-radius: 240px 240px 0px 0px;
    overflow: hidden
}

.gachaMachine .capsule span {
    width: 115px;
    height: 115px;
}


.capsule_1 {
    position: absolute;
    left: 55px;
    top: 272px;
}

.capsule_1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_4.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_2 {
    position: absolute;
    left: 3px;
    top: 200px
}

.capsule_2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_3.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_3 {
    position: absolute;
    left: 10px;
    top: 348px;
}

.capsule_3:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_1.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_4 {
    position: absolute;
    left: 130px;
    top: 227px;
}

.capsule_4:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_2.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_5 {
    position: absolute;
    left: 174px;
    top: 305px;
}

.capsule_5:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_4.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_6 {
    position: absolute;
    left: 100px;
    top: 348px;
}

.capsule_6:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_3.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_7 {
    position: absolute;
    left: 216px;
    top: 229px;
}

.capsule_7:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_1.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_8 {
    position: absolute;
    left: 265px;
    top: 306px;
}

.capsule_8:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_2.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_9 {
    position: absolute;
    left: 413px;
    top: 290px;
}

.capsule_9:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_3.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_10 {
    position: absolute;
    left: 348px;
    top: 348px;
}

.capsule_10:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_1.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}

.capsule_11 {
    position: absolute;
    left: 333px;
    top: 248px;
}

.capsule_11:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115px;
    height: 115px;
    display: block;
    background: url(/images/capsule_4.png) no-repeat;
    animation: toggle 1s linear forwards;
    -webkit-animation: toggle 1s linear forwards;
}


/*resulting rollout capsule*/
.rollout_1 {
    animation: results 1s linear 0.9s backwards;
    -webkit-animation: results 1s linear 0.9s backwards
}

.rollout_1:after {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s
}

.rollout_2 {
    animation: results 1s linear 0.6s backwards;
    -webkit-animation: results 1s linear 0.6s backwards
}

.rollout_2:after {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s
}

.rollout_3 {
    animation: results 1s linear backwards;
    -webkit-animation: results 1s linear backwards
}

.rollout_4 {
    animation: results 1s linear 1.1s backwards;
    -webkit-animation: results 1s linear 1.1s backwards
}

.rollout_4:after {
    animation-delay: 1s;
    -webkit-animation-delay: 1s
}

.rollout_5 {
    animation: results 1s linear 0.8s backwards;
    -webkit-animation: results 1s linear 0.8s backwards
}

.rollout_5:after {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s
}

.rollout_6 {
    animation: results 1s linear 0.4s backwards;
    -webkit-animation: results 1s linear 0.4s backwards;
}

.rollout_6:after {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s
}

.rollout_7 {
    animation: results 1s linear 0.9s backwards;
    -webkit-animation: results 1s linear 0.9s backwards
}

.rollout_7:after {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s
}

.rollout_8 {
    animation: results 1s linear 0.6s backwards;
    -webkit-animation: results 1s linear 0.6s backwards;
}

.rollout_8:after {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.rollout_9 {
    animation: results 1s linear 1.1s backwards;
    -webkit-animation: results 1s linear 1.1s backwards;
}

.rollout_9:after {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.rollout_10 {
    animation: results 1s linear 0.2s backwards;
    -webkit-animation: results 1s linear 0.2s backwards;
}

.rollout_11 {
    animation: results 1s linear 1.4s backwards;
    -webkit-animation: results 1s linear 1.4s backwards;
}

.rollout_11:after {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}


.gachaMachine .dispenseOutput {
    width: 110px;
    height: 90px;
    padding: 32px 0px 0px 20px;
    position: absolute;
    left: 200px;
    top: 715px;
    z-index: 2;
}

.gachaMachine .dispenser {
    width: 136px;
    height: 138px;
    position: absolute;
    left: 248px;
    top: 721px;
    z-index: 1;
}



.gachaMachine .drop_one {
    width: 85px;
    height: 85px;
    position: relative;
}

.gachaMachine .drop_one:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 85px;
    height: 85px;
    display: block;
    background: url(/images/outcap_1.png) no-repeat;
    animation: zoomIn 0.7s ease-out forwards;
    -webkit-animation: zoomIn 0.7s ease-out forwards;
}

.gachaMachine .drop_two {
    width: 85px;
    height: 85px;
    position: relative;
}

.gachaMachine .drop_two:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 85px;
    height: 85px;
    display: block;
    background: url(/images/outcap_2.png) no-repeat;
    animation: zoomIn 0.7s ease-out forwards;
    -webkit-animation: zoomIn 0.7s ease-out forwards;
}

.gachaMachine .drop_three {
    width: 85px;
    height: 85px;
    position: relative;
}

.gachaMachine .drop_three:after {
    content: "";
    position: absolute;
    right: -100px;
    top: 0;
    width: 85px;
    height: 85px;
    display: block;
    background: url(/images/outcap_3.png) no-repeat;
    animation: zoomIn 0.7s ease-out forwards;
    -webkit-animation: zoomIn 0.7s ease-out forwards;
}

.gachaMachine .drop_four {
    width: 85px;
    height: 85px;
    position: relative;
}

.gachaMachine .drop_four:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 85px;
    height: 85px;
    display: block;
    background: url(/images/outcap_4.png) no-repeat;
    animation: zoomIn 0.7s ease-out forwards;
    -webkit-animation: zoomIn 0.7s ease-out forwards;
}



@keyframes zoomIn {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

.tc_anima {
    animation: title1 0.3s linear;
    -webkit-animation: title1 0.3s linear;
}

@keyframes title1 {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-webkit-keyframes title1 {
    from {
        opacity: 0;
        -webkit-transform: scale(0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
}





.wieyi_1 {
    animation: around1 1.5s linear infinite;
    -webkit-animation: around1 1.5s linear infinite
}

.wieyi_2 {
    animation: around2 1.5s linear infinite;
    -webkit-animation: around2 1.5s linear infinite;
}


.wieyi_3 {
    animation: around3 1.5s linear infinite;
    -webkit-animation: around3 1.5s linear infinite;
}

.wieyi_4 {
    animation: around4 1.5s linear infinite;
    -webkit-animation: around4 1.5s linear infinite;
}

.wieyi_5 {
    animation: around5 1.5s linear infinite;
    -webkit-animation: around5 1.5s linear infinite;
}

.wieyi_6 {
    animation: around6 1.5s linear infinite;
    -webkit-animation: around6 1.5s linear infinite;
}

.wieyi_7 {
    animation: around7 1.5s linear infinite;
    -webkit-animation: around7 1.5s linear infinite;
}

.wieyi_8 {
    animation: around8 1.5s linear infinite;
    -webkit-animation: around8 1.5s linear infinite;
}

.wieyi_9 {
    animation: around9 1.5s linear infinite;
    -webkit-animation: around9 1.5s linear infinite;
}

.wieyi_10 {
    animation: around10 1.5s linear infinite;
    -webkit-animation: around10 1.5s linear infinite;
}

.wieyi_11 {
    animation: around11 1.5s linear infinite;
    -webkit-animation: around11 1.5s linear infinite;
}



.zuadon_dh {
    animation: around 2s linear backwards;
    -webkit-animation: around 2s linear backwards;
}



@keyframes results {
    0% {
        transform: translateY(-200%);
        opacity: 0
    }

    5% {
        transform: translateY(-200%);
    }

    15% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-100%);
    }

    40% {

        transform: translateY(0%);
    }

    50% {
        transform: translateY(-60%);
    }

    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-30%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-14%);
    }

    97% {
        transform: translateY(0%);
    }

    99% {
        transform: translateY(-6%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}


@-webkit-keyframes results {
    0% {
        -webkit-transform: translateY(-200%);
        opacity: 0
    }

    5% {
        -webkit-transform: translateY(-200%);
    }

    15% {
        -webkit-transform: translateY(0);
    }

    30% {
        -webkit-transform: translateY(-100%);
    }

    40% {

        -webkit-transform: translateY(0%);
    }

    50% {
        -webkit-transform: translateY(-60%);
    }

    70% {
        -webkit-transform: translateY(0%);
    }

    80% {
        -webkit-transform: translateY(-30%);
    }

    90% {
        -webkit-transform: translateY(0%);
    }

    95% {
        -webkit-transform: translateY(-14%);
    }

    97% {
        -webkit-transform: translateY(0%);
    }

    99% {
        -webkit-transform: translateY(-6%);
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }

}


@-webkit-keyframes toggle {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes toggle {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}





@-webkit-keyframes around1 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    20% {
        -webkit-transform: translate(300px, 230px)
    }

    40% {
        -webkit-transform: translate(200px, -100px)
    }

    60% {
        -webkit-transform: translate(50px, 230px)
    }

    80% {
        -webkit-transform: translate(300px, -50px)
    }

    100% {
        -webkit-transform: translate(200px, 240px)
    }
}

@keyframes around1 {
    0% {
        transform: translate(0px, 0px)
    }

    20% {
        transform: translate(300px, 230px)
    }

    40% {
        transform: translate(200px, -100px)
    }

    60% {
        transform: translate(50px, 230px)
    }

    80% {
        transform: translate(300px, -50px)
    }

    100% {
        transform: translate(200px, 240px)
    }
}

@-webkit-keyframes around2 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    10% {
        -webkit-transform: translate(300px, -120px)
    }

    30% {
        -webkit-transform: translate(250px, 130px)
    }

    50% {
        -webkit-transform: translate(-50px, -120px)
    }

    80% {
        -webkit-transform: translate(0px, 140px)
    }

    100% {
        -webkit-transform: translate(300px, -180px)
    }
}

@keyframes around2 {
    0% {
        transform: translate(0px, 0px)
    }

    10% {
        transform: translate(300px, -120px)
    }

    30% {
        transform: translate(250px, 130px)
    }

    50% {
        transform: translate(-50px, -120px)
    }

    80% {
        transform: translate(0px, 140px)
    }

    100% {
        transform: translate(300px, -180px)
    }
}


@-webkit-keyframes around3 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    25% {
        -webkit-transform: translate(70px, -290px)
    }

    50% {
        -webkit-transform: translate(320px, 0px)
    }

    80% {
        -webkit-transform: translate(-20px, -290px)
    }

    100% {
        -webkit-transform: translate(290px, 0px)
    }
}

@keyframes around3 {
    0% {
        transform: translate(0px, 0px)
    }

    25% {
        transform: translate(70px, -290px)
    }

    50% {
        transform: translate(320px, 0px)
    }

    80% {
        transform: translate(-20px, -290px)
    }

    100% {
        transform: translate(290px, 0px)
    }

}

@-webkit-keyframes around4 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    12% {
        -webkit-transform: translate(50px, 250px)
    }

    30% {
        -webkit-transform: translate(-150px, -30px)
    }

    60% {
        -webkit-transform: translate(-140px, 260px)
    }

    80% {
        -webkit-transform: translate(-10px, -30px)
    }

    100% {
        -webkit-transform: translate(-20px, 260px)
    }

}

@keyframes around4 {
    0% {
        transform: translate(0px, 0px)
    }

    12% {
        transform: translate(50px, 250px)
    }

    30% {
        transform: translate(-150px, -30px)
    }

    60% {
        transform: translate(-140px, 260px)
    }

    80% {
        transform: translate(-10px, -30px)
    }

    100% {
        transform: translate(-20px, 260px)
    }

}


@-webkit-keyframes around5 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    22% {
        -webkit-transform: translate(-50px, -170px)
    }

    46% {
        -webkit-transform: translate(150px, 145px)
    }

    80% {
        -webkit-transform: translate(200px, -115px)
    }

    100% {
        -webkit-transform: translate(-100px, 145px)
    }
}

@keyframes around5 {
    0% {
        transform: translate(0px, 0px)
    }

    22% {
        transform: translate(-50px, -170px)
    }

    46% {
        transform: translate(150px, 145px)
    }

    80% {
        transform: translate(200px, -115px)
    }

    100% {
        transform: translate(-100px, 145px)
    }
}





@-webkit-keyframes around6 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    15% {
        -webkit-transform: translate(260px, 40px)
    }

    30% {
        -webkit-transform: translate(-80px, -260px)
    }

    45% {
        -webkit-transform: translate(-40px, 40px)
    }

    60% {
        -webkit-transform: translate(100px, -290px)
    }

    75% {
        -webkit-transform: translate(-80px, -280px)
    }

    100% {
        -webkit-transform: translate(10px, 40px)
    }
}

@keyframes around6 {
    0% {
        transform: translate(0px, 0px)
    }

    15% {
        transform: translate(260px, 40px)
    }

    30% {
        transform: translate(-80px, -260px)
    }

    45% {
        transform: translate(-40px, 40px)
    }

    60% {
        transform: translate(100px, -290px)
    }

    75% {
        transform: translate(-80px, -280px)
    }

    100% {
        transform: translate(10px, 40px)
    }

}

@-webkit-keyframes around7 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    20% {
        -webkit-transform: translate(-60px, -170px)
    }

    40% {
        -webkit-transform: translate(90px, 160px)
    }

    60% {
        -webkit-transform: translate(-220px, -140px)
    }

    80% {
        -webkit-transform: translate(160px, -60px)
    }

    100% {
        -webkit-transform: translate(-100px, -100px)
    }

}

@keyframes around7 {
    0% {
        transform: translate(0px, 0px)
    }

    20% {
        transform: translate(-60px, -170px)
    }

    40% {
        transform: translate(90px, 160px)
    }

    60% {
        transform: translate(-220px, -140px)
    }

    80% {
        transform: translate(160px, -60px)
    }

    100% {
        transform: translate(-100px, -100px)
    }

}

@-webkit-keyframes around8 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    20% {
        -webkit-transform: translate(140px, -120px)
    }

    40% {
        -webkit-transform: translate(-140px, 40px)
    }

    60% {
        -webkit-transform: translate(-180px, -240px)
    }

    80% {
        -webkit-transform: translate(100px, 50px)
    }

    100% {
        -webkit-transform: translate(-180px, -220px)
    }
}

@keyframes around8 {
    0% {
        transform: translate(0px, 0px)
    }

    20% {
        transform: translate(140px, -120px)
    }

    40% {
        transform: translate(-140px, 40px)
    }

    60% {
        transform: translate(-180px, -240px)
    }

    80% {
        transform: translate(100px, 50px)
    }

    100% {
        transform: translate(-180px, -220px)
    }
}

@-webkit-keyframes around9 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    30% {
        -webkit-transform: translate(-300px, -180px)
    }

    60% {
        -webkit-transform: translate(-350px, 120px)
    }

    80% {
        -webkit-transform: translate(-100px, -200px)
    }

    100% {
        -webkit-transform: translate(-200px, 100px)
    }
}

@keyframes around9 {
    0% {
        transform: translate(0px, 0px)
    }

    30% {
        transform: translate(-300px, -180px)
    }

    60% {
        transform: translate(-350px, 120px)
    }

    80% {
        transform: translate(-100px, -200px)
    }

    100% {
        transform: translate(-200px, 100px)
    }
}

@-webkit-keyframes around10 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    15% {
        -webkit-transform: translate(-300px, -270px)
    }

    30% {
        -webkit-transform: translate(20px, -220px)
    }

    50% {
        -webkit-transform: translate(-350px, 10px)
    }

    75% {
        -webkit-transform: translate(0px, -150px)
    }

    100% {
        -webkit-transform: translate(-300px, -300px)
    }
}

@keyframes around10 {
    0% {
        transform: translate(0px, 0px)
    }

    15% {
        transform: translate(-300px, -270px)
    }

    30% {
        transform: translate(20px, -220px)
    }

    50% {
        transform: translate(-350px, 10px)
    }

    75% {
        transform: translate(0px, -150px)
    }

    100% {
        transform: translate(-300px, -300px)
    }
}


@-webkit-keyframes around11 {
    0% {
        -webkit-transform: translate(0px, 0px)
    }

    32% {
        -webkit-transform: translate(-270px, -70px)
    }

    60% {
        -webkit-transform: translate(-320px, 220px)
    }

    80% {
        -webkit-transform: translate(10px, -10px)
    }

    100% {
        -webkit-transform: translate(-260px, 220px)
    }

}

@keyframes around11 {
    0% {
        transform: translate(0px, 0px)
    }

    32% {
        transform: translate(-270px, -70px)
    }

    60% {
        transform: translate(-320px, 220px)
    }

    80% {
        transform: translate(10px, -10px)
    }

    100% {
        transform: translate(-260px, 220px)
    }

}