/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');


body {
    
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(251, 238, 240);
    color: white;
}

#subtitle {
  color: rgb(248, 119, 141);
  font-weight: 800;
}

article {
  background-color: rgb(253, 223, 228);
border-radius: 25px;
border: 300px;
padding: 50px;
}
h1 {
    font-size: 6rem;
    font-family: 'Courgette', cursive;
    color: rgb(248, 94, 120);

}

h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    color: rgb(247, 241, 242);

}

h3 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    align-content: center;
}

li {
  margin-right: 40px;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#flowerimage {
  
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
    border: none;
}

#gachaimage {
    
    width: 8rem;
    height: 8rem;
  
    font-size: 2rem;
    border: none;
}
#coinimage {
  width: 8rem;
  height: 8rem;

  font-size: 2rem;
  border: none;
}

.method {
  display: flex;
  
  flex-direction: column;
  align-content: space-between;
}

#methods {
    display: flex;
  flex-wrap: nowrap;

  justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
}

a {
padding: 10px;
}

a:link {
  text-decoration: none;

}

a:hover {
  color: rgb(247, 129, 149);
}



    

.answer-box {
  background-color: white;
  border-radius: 25px;
  width: 50%;
  margin-bottom: 30px;
}

.methods h3 {
    border: 2px solid black;
    width: fit-content;
    padding: 1rem;
    text-align: center;
}


a:link { 
display: flex;
justify-content: center;
align-content: center;
}

a {

  color: black;
}

ul {
  list-style: none;
}

li {
  background-color: rgb(245, 141, 159);
  border-radius: 25px;
 
}
/* input choices */


  .notes{
  padding: 20px;
}

.notes p{
  border-bottom: thin dotted #d4d4d4;
  padding: 20px 10px 0px 0px;
  font-style: italic;
  font-size: 18px;
}

.notes p span{
  font-size: 16px;
  float:  right;
  cursor: pointer;
  display: inline-block;
}
.notes p span.mark{
  color: green;
  font-size: 30px;
  transform: translateY(-10px);
}

form{
  width:  100%;
}

.field{
  margin-bottom: 10px;
  display: flex;
  transition: opacity 0.3s;
}

.field input{
  padding: 5px 10px;
  width: 100%;
  border: none;
   border: thin solid #d4d4d4; 
  font-size: 20px;
  color: #888;
  font-family: ubuntu, sans-serif;
  background-color: #f9f9f9;
}
.field input:focus{
  outline: none;
}

.field span{
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s;
  font-weight: bold;
  border: thin solid #d4d4d4; 
  color: rgb(245, 141, 159);
}
.field span:last-child{
  display: none;
  padding: 12px;
}
.field span:hover{
  background-color: green;
  border: thin solid green;
  color: #fff;
}
.field span:last-child:hover{
  background-color: red;
  border: thin solid red;
  color: #fff;
}

button.next{
  display: none;
}



.rose {
  width: 100px;
  height: 300px;
  margin: auto;
  padding: 50px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.rose div {
  position: absolute;
}

.rose .rose-petals > div {
  background-color: #f05858;
  width: 45px;
  height: 80px;
  position: absolute;
}

.rose .rose-petals > div:nth-child(1) {
  border-radius: 15px;
  left: 20px;
  top: -6px;
  background-color: #d52d2d;
}

.rose .rose-petals > div:nth-child(2), .rose .rose-petals > div:nth-child(4), .rose .rose-petals > div:nth-child(6), .rose .rose-petals > div:nth-child(8){
  border-radius: 0px 35px 0px 35px;
  background: #b81b1b;
  left: 0;
  transform-origin: bottom right;
}

.rose .rose-petals > div:nth-child(3), .rose .rose-petals > div:nth-child(5), .rose .rose-petals > div:nth-child(7), .rose .rose-petals > div:nth-child(9) {
  border-radius: 35px 0px 35px 0px;
  left: 40px;
  transform-origin: bottom left;
}



.flower_animation{
  -moz-animation: openRose2 3s ease-in-out;
  -webkit-animation: openRose2 3s ease-in-out;
  animation: openRose2 3s ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /* -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; */
}

.rose .rose-petals > div:nth-child(2) {


  z-index: 7;
  background: #9e1818;
  top: 10px;
  height: 70px;
}

.rose .rose-petals > div:nth-child(3) {
  z-index: 6;
  background: #9e1818;
  top: 10px;
  height: 70px;
}

.rose .rose-petals > div:nth-child(4) {
  z-index: 5;
  background: #b81b1b;
  top: 5px;
  height: 75px;
}

.rose .rose-petals > div:nth-child(5) {
  z-index: 4;
  background: #b81b1b;
  top: 5px;
  height: 75px;
}
.rose .rose-petals > div:nth-child(6) {
  z-index: 3;
  background: #b81b1b;
  top: 5px;
  height: 75px;
}

.rose .rose-petals > div:nth-child(7) {
  z-index: 2;
  background: #b81b1b;
  top: 5px;
  height: 75px;
}
.rose .rose-petals > div:nth-child(8) {
  z-index: 1;
  background: #c92020;
  top: "";
  height: "";
}

.rose .rose-petals > div:nth-child(9) {
  z-index: 0;
  background: #c92020;
  top: "";
  height: "";
}

.rose .rose-leaves > div:nth-last-child(1) {
  width: 55px;
  height: 30px;
  background: #338f37;
  position: absolute;
  top: 60px;
  left: 15px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.rose .rose-leaves > div:nth-child(1) {
  width: 6px;
  height: 230px;
  border: none;
  top: 80px;
  background: #066406;
  left: 40px;
}
.rose .thorns > div {
  width: 30px;
  height: 30px;
  background: #066406;
  top: 100px;
  left: 10px;
}
.rose .thorns > div:after {
  width: 41px;
  height: 31px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: rgb(253, 223, 228);
  content: "";
  position: absolute;
  left: -12px;
  top: 17px;
}
.rose .thorns > div:before {
  width: 41px;
  height: 31px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: rgb(253, 223, 228);
  content: "";
  position: absolute;
  left: -11px;
  top: -11px;
  z-index: 0;
}

.rose .thorns > div:nth-child(2) {
  top: 150px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 45px;
}
.rose .thorns > div:nth-child(3) {
  top: 180px;
}
.container .thorns > div:nth-child(4) {
  top: 220px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 45px;
}

@-moz-keyframes openRose2 {
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px;
  }
  100% {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px;
  }
}
@-ms-keyframes openRose2 {
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px;
  }
  100% {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px;
  }
}
@keyframes openRose2 {
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px;
  }
  100% {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px;
  }
}

#flowerStartBtn{
 text-align: absolute;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:50px;
 display: grid;
 grid-template-columns: 200px;
 grid-row-gap: 50rem;
}

#flowerAnswerBox{
  margin:auto;
  font-size: 50px;
  text-align: center;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 400px;
  grid-row-gap: 100rem;
}

























/* coin page */

#coins {
  margin-top: 400px;
}

.stats-container {
  background-color:rgb(253, 240, 240);
  width: 70%;
  padding: 50px;
  position: absolute;

  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-perspective: 300px;
  perspective: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.individualtitle {
  font-weight: 800;
  font-size: 4rem;
  color: rgb(248, 94, 120);
  font-family: 'Courgette', cursive;
}


.stats {
  margin-top: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 25px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: larger;
  font-weight: 800;
  background-color: rgb(247, 129, 149);
  border-radius: 25px;
  width: 40%;
  height: 40%;
}

.coin {

  height: 300px;
  width: 300px;
  position: relative;
  margin: -50px;

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.coin img{
  padding-top: 80px;
  width: 300px;
  margin-left: 8px;

}

.heads, .tails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;


}

.tails{
  
  transform: rotateX(180deg);
  
}


@keyframes spin-tails{
  0%{
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(1980deg);
  }
}

@keyframes spin-heads{
  0%{
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(2160deg);
  }
}

.coin-buttons {
display: flex;
justify-content: space-between;

}

.coin-buttons button {
width: 120px;
padding: 10px 0;
border: 2.5px solid rgb(247, 129, 149);
border-radius: 5px;
cursor: pointer;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-size: large;
font-weight: 600;
}

#flip-button{
  background-color: rgb(247, 129, 149);
  color: white;

}

#flip-button:disabled{
  background: white;
  border-color: rgb(247, 129, 149);
  color: black;

}

#reset-button{
  background-color: white;
  color: pink;

}





/*gacha page */
.gacha{
  margin: auto;
}

.gachaMachine {
  height: 80vh;
  top: 100px;
  position: relative;
  right: 300px;
}

.gachaMachine .background {
  background: url(/images/gachaBase.png) no-repeat;
  width: 553px;
  height: 767px;
  left: 47px;
  top: 74px;
  position: absolute;
  z-index: 3;
}

.gachaMachine .decor {
  width: 134px;
  height: 50px;
  position: absolute;
  left: 210px;
  bottom: 225px;
  background: url(/images/deco.png) no-repeat;
  font-size: 18px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding-top: 90px;
}



.gachaMachine .capsule {
  width: 500px;
  height: 447px;
  position: absolute;
  left: 68px;
  top: 80px;
  z-index: 1;
  -webkit-border-radius: 240px 240px 0px 0px;
  -moz-border-radius: 240px 240px 0px 0px;
  border-radius: 240px 240px 0px 0px;
  overflow: hidden
}

.gachaMachine .capsule span {
  width: 115px;
  height: 115px;
}


.capsule_1 {
  position: absolute;
  left: 55px;
  top: 272px;
}

.capsule_1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_4.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_2 {
  position: absolute;
  left: 3px;
  top: 200px
}

.capsule_2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_3.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_3 {
  position: absolute;
  left: 10px;
  top: 348px;
}

.capsule_3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_1.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_4 {
  position: absolute;
  left: 130px;
  top: 227px;
}

.capsule_4:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_2.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_5 {
  position: absolute;
  left: 174px;
  top: 305px;
}

.capsule_5:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_4.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_6 {
  position: absolute;
  left: 100px;
  top: 348px;
}

.capsule_6:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_3.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_7 {
  position: absolute;
  left: 216px;
  top: 229px;
}

.capsule_7:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_1.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_8 {
  position: absolute;
  left: 265px;
  top: 306px;
}

.capsule_8:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_2.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_9 {
  position: absolute;
  left: 413px;
  top: 290px;
}

.capsule_9:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_3.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_10 {
  position: absolute;
  left: 348px;
  top: 348px;
}

.capsule_10:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_1.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}

.capsule_11 {
  position: absolute;
  left: 333px;
  top: 248px;
}

.capsule_11:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 115px;
  height: 115px;
  display: block;
  background: url(/images/capsule_4.png) no-repeat;
  animation: toggle 1s linear forwards;
  -webkit-animation: toggle 1s linear forwards;
}


/*resulting rollout capsule*/
.rollout_1 {
  animation: results 1s linear 0.9s backwards;
  -webkit-animation: results 1s linear 0.9s backwards
}

.rollout_1:after {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s
}

.rollout_2 {
  animation: results 1s linear 0.6s backwards;
  -webkit-animation: results 1s linear 0.6s backwards
}

.rollout_2:after {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s
}

.rollout_3 {
  animation: results 1s linear backwards;
  -webkit-animation: results 1s linear backwards
}

.rollout_4 {
  animation: results 1s linear 1.1s backwards;
  -webkit-animation: results 1s linear 1.1s backwards
}

.rollout_4:after {
  animation-delay: 1s;
  -webkit-animation-delay: 1s
}

.rollout_5 {
  animation: results 1s linear 0.8s backwards;
  -webkit-animation: results 1s linear 0.8s backwards
}

.rollout_5:after {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s
}

.rollout_6 {
  animation: results 1s linear 0.4s backwards;
  -webkit-animation: results 1s linear 0.4s backwards;
}

.rollout_6:after {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s
}

.rollout_7 {
  animation: results 1s linear 0.9s backwards;
  -webkit-animation: results 1s linear 0.9s backwards
}

.rollout_7:after {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s
}

.rollout_8 {
  animation: results 1s linear 0.6s backwards;
  -webkit-animation: results 1s linear 0.6s backwards;
}

.rollout_8:after {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.rollout_9 {
  animation: results 1s linear 1.1s backwards;
  -webkit-animation: results 1s linear 1.1s backwards;
}

.rollout_9:after {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.rollout_10 {
  animation: results 1s linear 0.2s backwards;
  -webkit-animation: results 1s linear 0.2s backwards;
}

.rollout_11 {
  animation: results 1s linear 1.4s backwards;
  -webkit-animation: results 1s linear 1.4s backwards;
}

.rollout_11:after {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
}


.gachaMachine .dispenseOutput {
  width: 110px;
  height: 90px;
  padding: 32px 0px 0px 20px;
  position: absolute;
  left: 200px;
  top: 715px;
  z-index: 2;
}

.gachaMachine .dispenser {
  width: 136px;
  height: 138px;
  position: absolute;
  left: 248px;
  top: 721px;
  z-index: 1;
}



.gachaMachine .drop_one {
  width: 85px;
  height: 85px;
  position: relative;
}

.gachaMachine .drop_one:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 85px;
  height: 85px;
  display: block;
  background: url(/images/outcap_1.png) no-repeat;
  animation: zoomIn 0.7s ease-out forwards;
  -webkit-animation: zoomIn 0.7s ease-out forwards;
}

.gachaMachine .drop_two {
  width: 85px;
  height: 85px;
  position: relative;
}

.gachaMachine .drop_two:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 85px;
  height: 85px;
  display: block;
  background: url(/images/outcap_2.png) no-repeat;
  animation: zoomIn 0.7s ease-out forwards;
  -webkit-animation: zoomIn 0.7s ease-out forwards;
}

.gachaMachine .drop_three {
  width: 85px;
  height: 85px;
  position: relative;
}

.gachaMachine .drop_three:after {
  content: "";
  position: absolute;
  right: -100px;
  top: 0;
  width: 85px;
  height: 85px;
  display: block;
  background: url(/images/outcap_3.png) no-repeat;
  animation: zoomIn 0.7s ease-out forwards;
  -webkit-animation: zoomIn 0.7s ease-out forwards;
}

.gachaMachine .drop_four {
  width: 85px;
  height: 85px;
  position: relative;
}

.gachaMachine .drop_four:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 85px;
  height: 85px;
  display: block;
  background: url(/images/outcap_4.png) no-repeat;
  animation: zoomIn 0.7s ease-out forwards;
  -webkit-animation: zoomIn 0.7s ease-out forwards;
}



@keyframes zoomIn {
  0% {
      transform: scale(0.7);
  }

  100% {
      transform: scale(1);
  }
}

@-webkit-keyframes zoomIn {
  0% {
      -webkit-transform: scale(0.7);
  }

  100% {
      -webkit-transform: scale(1);
  }
}



.move_1 {
  animation: around1 1.5s linear infinite;
  -webkit-animation: around1 1.5s linear infinite
}

.move_2 {
  animation: around2 1.5s linear infinite;
  -webkit-animation: around2 1.5s linear infinite;
}


.move_3 {
  animation: around3 1.5s linear infinite;
  -webkit-animation: around3 1.5s linear infinite;
}

.move_4 {
  animation: around4 1.5s linear infinite;
  -webkit-animation: around4 1.5s linear infinite;
}

.move_5 {
  animation: around5 1.5s linear infinite;
  -webkit-animation: around5 1.5s linear infinite;
}

.move_6 {
  animation: around6 1.5s linear infinite;
  -webkit-animation: around6 1.5s linear infinite;
}

.move_7 {
  animation: around7 1.5s linear infinite;
  -webkit-animation: around7 1.5s linear infinite;
}

.move_8 {
  animation: around8 1.5s linear infinite;
  -webkit-animation: around8 1.5s linear infinite;
}

.move_9 {
  animation: around9 1.5s linear infinite;
  -webkit-animation: around9 1.5s linear infinite;
}

.move_10 {
  animation: around10 1.5s linear infinite;
  -webkit-animation: around10 1.5s linear infinite;
}

.move_11 {
  animation: around11 1.5s linear infinite;
  -webkit-animation: around11 1.5s linear infinite;
}



.zuadon_dh {
  animation: around 2s linear backwards;
  -webkit-animation: around 2s linear backwards;
}



@keyframes results {
  0% {
      transform: translateY(-200%);
      opacity: 0
  }

  5% {
      transform: translateY(-200%);
  }

  15% {
      transform: translateY(0);
  }

  30% {
      transform: translateY(-100%);
  }

  40% {

      transform: translateY(0%);
  }

  50% {
      transform: translateY(-60%);
  }

  70% {
      transform: translateY(0%);
  }

  80% {
      transform: translateY(-30%);
  }

  90% {
      transform: translateY(0%);
  }

  95% {
      transform: translateY(-14%);
  }

  97% {
      transform: translateY(0%);
  }

  99% {
      transform: translateY(-6%);
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }

}


@-webkit-keyframes results {
  0% {
      -webkit-transform: translateY(-200%);
      opacity: 0
  }

  5% {
      -webkit-transform: translateY(-200%);
  }

  15% {
      -webkit-transform: translateY(0);
  }

  30% {
      -webkit-transform: translateY(-100%);
  }

  40% {

      -webkit-transform: translateY(0%);
  }

  50% {
      -webkit-transform: translateY(-60%);
  }

  70% {
      -webkit-transform: translateY(0%);
  }

  80% {
      -webkit-transform: translateY(-30%);
  }

  90% {
      -webkit-transform: translateY(0%);
  }

  95% {
      -webkit-transform: translateY(-14%);
  }

  97% {
      -webkit-transform: translateY(0%);
  }

  99% {
      -webkit-transform: translateY(-6%);
  }

  100% {
      -webkit-transform: translateY(0);
      opacity: 1;
  }

}


@-webkit-keyframes toggle {
  0% {
      -webkit-transform: rotate(0)
  }

  100% {
      -webkit-transform: rotate(360deg)
  }
}

@keyframes toggle {
  0% {
      transform: rotate(0)
  }

  100% {
      transform: rotate(360deg)
  }
}





@-webkit-keyframes around1 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  20% {
      -webkit-transform: translate(300px, 230px)
  }

  40% {
      -webkit-transform: translate(200px, -100px)
  }

  60% {
      -webkit-transform: translate(50px, 230px)
  }

  80% {
      -webkit-transform: translate(300px, -50px)
  }

  100% {
      -webkit-transform: translate(200px, 240px)
  }
}

@keyframes around1 {
  0% {
      transform: translate(0px, 0px)
  }

  20% {
      transform: translate(300px, 230px)
  }

  40% {
      transform: translate(200px, -100px)
  }

  60% {
      transform: translate(50px, 230px)
  }

  80% {
      transform: translate(300px, -50px)
  }

  100% {
      transform: translate(200px, 240px)
  }
}

@-webkit-keyframes around2 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  10% {
      -webkit-transform: translate(300px, -120px)
  }

  30% {
      -webkit-transform: translate(250px, 130px)
  }

  50% {
      -webkit-transform: translate(-50px, -120px)
  }

  80% {
      -webkit-transform: translate(0px, 140px)
  }

  100% {
      -webkit-transform: translate(300px, -180px)
  }
}

@keyframes around2 {
  0% {
      transform: translate(0px, 0px)
  }

  10% {
      transform: translate(300px, -120px)
  }

  30% {
      transform: translate(250px, 130px)
  }

  50% {
      transform: translate(-50px, -120px)
  }

  80% {
      transform: translate(0px, 140px)
  }

  100% {
      transform: translate(300px, -180px)
  }
}


@-webkit-keyframes around3 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  25% {
      -webkit-transform: translate(70px, -290px)
  }

  50% {
      -webkit-transform: translate(320px, 0px)
  }

  80% {
      -webkit-transform: translate(-20px, -290px)
  }

  100% {
      -webkit-transform: translate(290px, 0px)
  }
}

@keyframes around3 {
  0% {
      transform: translate(0px, 0px)
  }

  25% {
      transform: translate(70px, -290px)
  }

  50% {
      transform: translate(320px, 0px)
  }

  80% {
      transform: translate(-20px, -290px)
  }

  100% {
      transform: translate(290px, 0px)
  }

}

@-webkit-keyframes around4 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  12% {
      -webkit-transform: translate(50px, 250px)
  }

  30% {
      -webkit-transform: translate(-150px, -30px)
  }

  60% {
      -webkit-transform: translate(-140px, 260px)
  }

  80% {
      -webkit-transform: translate(-10px, -30px)
  }

  100% {
      -webkit-transform: translate(-20px, 260px)
  }

}

@keyframes around4 {
  0% {
      transform: translate(0px, 0px)
  }

  12% {
      transform: translate(50px, 250px)
  }

  30% {
      transform: translate(-150px, -30px)
  }

  60% {
      transform: translate(-140px, 260px)
  }

  80% {
      transform: translate(-10px, -30px)
  }

  100% {
      transform: translate(-20px, 260px)
  }

}


@-webkit-keyframes around5 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  22% {
      -webkit-transform: translate(-50px, -170px)
  }

  46% {
      -webkit-transform: translate(150px, 145px)
  }

  80% {
      -webkit-transform: translate(200px, -115px)
  }

  100% {
      -webkit-transform: translate(-100px, 145px)
  }
}

@keyframes around5 {
  0% {
      transform: translate(0px, 0px)
  }

  22% {
      transform: translate(-50px, -170px)
  }

  46% {
      transform: translate(150px, 145px)
  }

  80% {
      transform: translate(200px, -115px)
  }

  100% {
      transform: translate(-100px, 145px)
  }
}





@-webkit-keyframes around6 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  15% {
      -webkit-transform: translate(260px, 40px)
  }

  30% {
      -webkit-transform: translate(-80px, -260px)
  }

  45% {
      -webkit-transform: translate(-40px, 40px)
  }

  60% {
      -webkit-transform: translate(100px, -290px)
  }

  75% {
      -webkit-transform: translate(-80px, -280px)
  }

  100% {
      -webkit-transform: translate(10px, 40px)
  }
}

@keyframes around6 {
  0% {
      transform: translate(0px, 0px)
  }

  15% {
      transform: translate(260px, 40px)
  }

  30% {
      transform: translate(-80px, -260px)
  }

  45% {
      transform: translate(-40px, 40px)
  }

  60% {
      transform: translate(100px, -290px)
  }

  75% {
      transform: translate(-80px, -280px)
  }

  100% {
      transform: translate(10px, 40px)
  }

}

@-webkit-keyframes around7 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  20% {
      -webkit-transform: translate(-60px, -170px)
  }

  40% {
      -webkit-transform: translate(90px, 160px)
  }

  60% {
      -webkit-transform: translate(-220px, -140px)
  }

  80% {
      -webkit-transform: translate(160px, -60px)
  }

  100% {
      -webkit-transform: translate(-100px, -100px)
  }

}

@keyframes around7 {
  0% {
      transform: translate(0px, 0px)
  }

  20% {
      transform: translate(-60px, -170px)
  }

  40% {
      transform: translate(90px, 160px)
  }

  60% {
      transform: translate(-220px, -140px)
  }

  80% {
      transform: translate(160px, -60px)
  }

  100% {
      transform: translate(-100px, -100px)
  }

}

@-webkit-keyframes around8 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  20% {
      -webkit-transform: translate(140px, -120px)
  }

  40% {
      -webkit-transform: translate(-140px, 40px)
  }

  60% {
      -webkit-transform: translate(-180px, -240px)
  }

  80% {
      -webkit-transform: translate(100px, 50px)
  }

  100% {
      -webkit-transform: translate(-180px, -220px)
  }
}

@keyframes around8 {
  0% {
      transform: translate(0px, 0px)
  }

  20% {
      transform: translate(140px, -120px)
  }

  40% {
      transform: translate(-140px, 40px)
  }

  60% {
      transform: translate(-180px, -240px)
  }

  80% {
      transform: translate(100px, 50px)
  }

  100% {
      transform: translate(-180px, -220px)
  }
}

@-webkit-keyframes around9 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  30% {
      -webkit-transform: translate(-300px, -180px)
  }

  60% {
      -webkit-transform: translate(-350px, 120px)
  }

  80% {
      -webkit-transform: translate(-100px, -200px)
  }

  100% {
      -webkit-transform: translate(-200px, 100px)
  }
}

@keyframes around9 {
  0% {
      transform: translate(0px, 0px)
  }

  30% {
      transform: translate(-300px, -180px)
  }

  60% {
      transform: translate(-350px, 120px)
  }

  80% {
      transform: translate(-100px, -200px)
  }

  100% {
      transform: translate(-200px, 100px)
  }
}

@-webkit-keyframes around10 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  15% {
      -webkit-transform: translate(-300px, -270px)
  }

  30% {
      -webkit-transform: translate(20px, -220px)
  }

  50% {
      -webkit-transform: translate(-350px, 10px)
  }

  75% {
      -webkit-transform: translate(0px, -150px)
  }

  100% {
      -webkit-transform: translate(-300px, -300px)
  }
}

@keyframes around10 {
  0% {
      transform: translate(0px, 0px)
  }

  15% {
      transform: translate(-300px, -270px)
  }

  30% {
      transform: translate(20px, -220px)
  }

  50% {
      transform: translate(-350px, 10px)
  }

  75% {
      transform: translate(0px, -150px)
  }

  100% {
      transform: translate(-300px, -300px)
  }
}


@-webkit-keyframes around11 {
  0% {
      -webkit-transform: translate(0px, 0px)
  }

  32% {
      -webkit-transform: translate(-270px, -70px)
  }

  60% {
      -webkit-transform: translate(-320px, 220px)
  }

  80% {
      -webkit-transform: translate(10px, -10px)
  }

  100% {
      -webkit-transform: translate(-260px, 220px)
  }

}

@keyframes around11 {
  0% {
      transform: translate(0px, 0px)
  }

  32% {
      transform: translate(-270px, -70px)
  }

  60% {
      transform: translate(-320px, 220px)
  }

  80% {
      transform: translate(10px, -10px)
  }

  100% {
      transform: translate(-260px, 220px)
  }

}

#gachabase{
  display: block;
  width: 30%;
  position: fixed;
  z-index: 1;
}

#gachabutton{
  display: block;
  width: 30%;
  position: fixed;
  z-index: 2;
}

#gachaWindow{
  display: block;
  width: 30%;
  position: fixed;
  z-index: 3;
}

#gachaBtn{
  position: absolute;
  left: 20rem;
  bottom: 0;
  font-size: 30px;
}


#content{
  border-radius: 50px;
  width: 300px;
  color: blue;
  border: 1px solid red;
  position: absolute;
  left: 17rem;
  bottom: 10rem;
  font-size: 60px;
}

/*other*/



@media screen and (max-width: 1250px) {


#methods {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

}




@media screen and (max-width: 950px) {
  h1 {
    font-size: 4rem;

  }

  h2 {
    font-size: 1.5rem;
  }


}

@media screen and (max-width: 8000px) {
  body {
    min-width: 100%;

    position:relative;
    background-color: rgb(253, 223, 228);
    display: flex;
    justify-content: center;
  }
}


#answer-box {
  color: black;
  background-color: rgb(251, 246, 246);
  border-radius: 25px;
width: 50%;
height: 50%;
margin-bottom: 30px;
border: 2px solid rgb(247, 129, 149);
}



/* navbar css */

.navBar{
  position: fixed;
  right: 0;
  top: 0;
}
.navBar ul li{

  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:transparent;
  padding: 0px;
}

.navBar ul li img{
  cursor: pointer;
  width: 60px;
}