/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');


body {
    
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(251, 238, 240);
    color: white;
}

#subtitle {
  color: rgb(248, 119, 141);
  font-weight: 800;
}

article {
  background-color: rgb(253, 223, 228);
border-radius: 25px;
border: 300px;
padding: 50px;
}
h1 {
    font-size: 6rem;
    font-family: 'Courgette', cursive;
    color: rgb(248, 94, 120);

}

h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    color: rgb(247, 241, 242);

}

h3 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    align-content: center;
}

li {
  margin-right: 40px;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#flowerimage {
  
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
    border: none;
}

#gachaimage {
    
    width: 8rem;
    height: 8rem;
  
    font-size: 2rem;
    border: none;
}
#coinimage {
  width: 8rem;
  height: 8rem;

  font-size: 2rem;
  border: none;
}

.method {
  display: flex;
  
  flex-direction: column;
  align-content: space-between;
}

#methods {
    display: flex;
  flex-wrap: nowrap;

  justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
}

a {
padding: 10px;
}

a:link {
  text-decoration: none;

}

a:hover {
  color: rgb(247, 129, 149);
}



    

.answer-box {
  background-color: white;
  border-radius: 25px;
  width: 50%;
  margin-bottom: 30px;
}

.methods h3 {
    border: 2px solid black;
    width: fit-content;
    padding: 1rem;
    text-align: center;
}


a:link { 
display: flex;
justify-content: center;
align-content: center;
}

a {

  color: black;
}

ul {
  list-style: none;
}

li {
  background-color: rgb(245, 141, 159);
  border-radius: 25px;
 
}
/* input choices */


  .notes{
	padding: 20px;
}

.notes p{
	border-bottom: thin dotted #d4d4d4;
	padding: 20px 10px 0px 0px;
	font-style: italic;
	font-size: 18px;
}

.notes p span{
	font-size: 16px;
	float:  right;
	cursor: pointer;
	display: inline-block;
}
.notes p span.mark{
	color: green;
	font-size: 30px;
	transform: translateY(-10px);
}

form{
	width:  100%;
}

.field{
	margin-bottom: 10px;
	display: flex;
	transition: opacity 0.3s;
}

.field input{
	padding: 5px 10px;
	width: 100%;
	border: none;
	 border: thin solid #d4d4d4; 
	font-size: 20px;
	color: #888;
	font-family: ubuntu, sans-serif;
	background-color: #f9f9f9;
}
.field input:focus{
	outline: none;
}

.field span{
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	background-color: #f9f9f9;
	padding: 10px;
	font-size: 20px;
	transition: all 0.3s;
	font-weight: bold;
	border: thin solid #d4d4d4; 
  color: rgb(245, 141, 159);
}
.field span:last-child{
	display: none;
	padding: 12px;
}
.field span:hover{
	background-color: green;
	border: thin solid green;
	color: #fff;
}
.field span:last-child:hover{
	background-color: red;
	border: thin solid red;
	color: #fff;
}

button.next{
  display: none;
}



.rose {
  width: 100px;
  height: 300px;
  margin: auto;
  padding: 50px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.rose div {
  position: absolute;
}

.rose .rose-petals > div {
  background-color: #f05858;
  width: 45px;
  height: 80px;
  position: absolute;
}

.rose .rose-petals > div:nth-child(1) {
  border-radius: 15px;
  left: 20px;
  top: -6px;
  background-color: #d52d2d;
}

.rose .rose-petals > div:nth-child(2), .rose .rose-petals > div:nth-child(4), .rose .rose-petals > div:nth-child(6), .rose .rose-petals > div:nth-child(8){
  border-radius: 0px 35px 0px 35px;
  background: #b81b1b;
  left: 0;
  transform-origin: bottom right;
}

.rose .rose-petals > div:nth-child(3), .rose .rose-petals > div:nth-child(5), .rose .rose-petals > div:nth-child(7), .rose .rose-petals > div:nth-child(9) {
  border-radius: 35px 0px 35px 0px;
  left: 40px;
  transform-origin: bottom left;
}


.rose .rose-petals > div:nth-child(2) {
  -moz-animation: openRose2 3s ease-in-out;
  -webkit-animation: openRose2 3s ease-in-out;
  animation: openRose2 3s ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 7;
  background: #9e1818;
  top: 10px;
  height: 70px;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.rose .rose-petals > div:nth-child(3) {
  z-index: 6;
  background: #9e1818;
  top: 10px;
  height: 70px;
}

.rose .rose-petals > div:nth-child(4) {
  z-index: 5;
  background: #b81b1b;
  top: 5px;
  height: 75px;
}

.rose .rose-petals > div:nth-child(5) {
  z-index: 4;
  background: #b81b1b;
  top: 5px;
  height: 75px;
}
.rose .rose-petals > div:nth-child(6) {
  z-index: 3;
  background: #b81b1b;
  top: 5px;
  height: 75px;
}

.rose .rose-petals > div:nth-child(7) {
  z-index: 2;
  background: #b81b1b;
  top: 5px;
  height: 75px;
}
.rose .rose-petals > div:nth-child(8) {
  z-index: 1;
  background: #c92020;
  top: "";
  height: "";
}

.rose .rose-petals > div:nth-child(9) {
  z-index: 0;
  background: #c92020;
  top: "";
  height: "";
}

.rose .rose-leaves > div:nth-last-child(1) {
  width: 55px;
  height: 30px;
  background: #338f37;
  position: absolute;
  top: 60px;
  left: 15px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.rose .rose-leaves > div:nth-child(1) {
  width: 6px;
  height: 230px;
  border: none;
  top: 80px;
  background: #066406;
  left: 40px;
}
.rose .thorns > div {
  width: 30px;
  height: 30px;
  background: #066406;
  top: 100px;
  left: 10px;
}
.rose .thorns > div:after {
  width: 41px;
  height: 31px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: rgb(253, 223, 228);
  content: "";
  position: absolute;
  left: -12px;
  top: 17px;
}
.rose .thorns > div:before {
  width: 41px;
  height: 31px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: rgb(253, 223, 228);
  content: "";
  position: absolute;
  left: -11px;
  top: -11px;
  z-index: 0;
}

.rose .thorns > div:nth-child(2) {
  top: 150px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 45px;
}
.rose .thorns > div:nth-child(3) {
  top: 180px;
}
.container .thorns > div:nth-child(4) {
  top: 220px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 45px;
}

@-moz-keyframes openRose2 {
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px;
  }
  100% {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px;
  }
}
@-ms-keyframes openRose2 {
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px;
  }
  100% {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px;
  }
}
@keyframes openRose2 {
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px;
  }
  100% {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px;
  }
}

#flowerStartBtn{
 text-align: absolute;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:50px;
 display: grid;
 grid-template-columns: 200px;
 grid-row-gap: 50rem;
}

#flowerAnswerBox{
  margin:auto;
  font-size: 50px;
  text-align: center;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 400px;
  grid-row-gap: 100rem;
}

























/* coin page */

#coins {
  margin-top: 400px;
}

.stats-container {
  background-color:rgb(253, 240, 240);
  width: 70%;
  padding: 50px;
  position: absolute;

  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-perspective: 300px;
  perspective: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.individualtitle {
  font-weight: 800;
  font-size: 4rem;
  color: rgb(248, 94, 120);
  font-family: 'Courgette', cursive;
}


.stats {
  margin-top: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 25px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: larger;
  font-weight: 800;
  background-color: rgb(247, 129, 149);
  border-radius: 25px;
  width: 40%;
  height: 40%;
}

.coin {

  height: 300px;
  width: 300px;
  position: relative;
  margin: -50px;

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.coin img{
  padding-top: 80px;
  width: 300px;
  margin-left: 8px;

}

.heads, .tails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;


}

.tails{
  
  transform: rotateX(180deg);
  
}


@keyframes spin-tails{
  0%{
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(1980deg);
  }
}

@keyframes spin-heads{
  0%{
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(2160deg);
  }
}

.coin-buttons {
display: flex;
justify-content: space-between;

}

.coin-buttons button {
width: 120px;
padding: 10px 0;
border: 2.5px solid rgb(247, 129, 149);
border-radius: 5px;
cursor: pointer;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-size: large;
font-weight: 600;
}

#flip-button{
  background-color: rgb(247, 129, 149);
  color: white;

}

#flip-button:disabled{
  background: white;
  border-color: rgb(247, 129, 149);
  color: black;

}

#reset-button{
  background-color: white;
  color: pink;

}





/*gacha page */
.insideCapsule {
  width: 4%;
  height: 5em;
  margin: 2em auto;
  border-radius: 50px;
  background-color: #ff3385;
  border-left: 3em solid white;
  z-index: 5;
}


.gacha{
  margin: auto;
}



#gachabase{
  display: block;
  width: 30%;
  position: fixed;
  z-index: 1;
}

#gachabutton{
  display: block;
  width: 30%;
  position: fixed;
  z-index: 2;
}

#gachaWindow{
  display: block;
  width: 30%;
  position: fixed;
  z-index: 3;
}

#gachaBtn{
  position: absolute;
  left: 20rem;
  bottom: 2rem;
  font-size: 30px;
}


/*other*/



@media screen and (max-width: 1250px) {


#methods {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

}




@media screen and (max-width: 950px) {
  h1 {
    font-size: 4rem;

  }

  h2 {
    font-size: 1.5rem;
  }


}

@media screen and (max-width: 8000px) {
  body {
    min-width: 100%;

    position:relative;
    background-color: rgb(253, 223, 228);
    display: flex;
    justify-content: center;
  }
}


#answer-box {
  color: black;
  background-color: rgb(251, 246, 246);
  border-radius: 25px;
width: 50%;
height: 50%;
margin-bottom: 30px;
}